$blue: #0083CB;
$orange: #F79B01;


.mainPage {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}

.section {
  flex: 1;
  position: relative;
  transition: 0.7s ease;

  &--left{
    background-color: $blue;
    &:hover, &:active, &:focus {
        .image {
          margin-left: 450px !important;
        }
        .title {
          width: 350px;
          margin-top: 50px;
        }
        .title h1 {
          margin-left: 110px;
          font-size: 56px;
        }
        .btn {
          opacity: 1;
          margin-left: 180px;
          width: 150px;
          height: 150px;
          &:hover {
            svg#play {
                display:block;
                cursor: pointer;
                transform-origin: 50% 50%;
              }
              svg#play #triangle {
                fill:rgba(22,22,22,0);
                transition:500ms;
                transform-origin: 50% 50%;
              }
              svg#play:hover #triangle {
                fill:#fff;
                transform-origin: 50% 50%;
              }
            }
        }
    }
  }
  &--right {
    background-color: $orange;
    &:hover, &:active, &:focus {
        .image2 {
          bottom: 30px;
          right: 450px !important;
        }
        .title2 {
          width: 350px;
          margin-top: 50px;
        }
        .title2 h1 {
          right: 120px;
          font-size: 56px;
        }
        .btn2 {
          opacity: 1;
          right: 180px;
          width: 150px;
          height: 150px;
          &:hover {
            svg#play {
              display:block;
              cursor: pointer;
              transform-origin: 50% 50%;
            }
            svg#play #triangle {
              fill:rgba(22,22,22,0);
              transition:500ms;
              transform-origin: 50% 50%;
            }
            svg#play:hover #triangle {
              fill:#fff;
              transform-origin: 50% 50%;
            }
          }
        }
    }
  }

  &:hover, &:active, &:focus {
    flex: 2;
  }

}